# SSH Allowed Signers for Git signatures

# Main YubiKey (primary signing key)
{{- if .signingkey_pub }}
{{ .email }} {{ .signingkey_pub }}
{{- else }}
# TODO: set signingkey_pub in .chezmoi.toml (format: key::ssh-ed25519 AAAA...)
{{- end }}

# Backup YubiKey (alternate signing key)
{{- if .backupsigningkey_pub }}
{{ .email }} {{ .backupsigningkey_pub }}
{{- else }}
# TODO: set backupsigningkey_pub in .chezmoi.toml (format: key::ssh-ed25519 AAAA...)
{{- end }}
