{{- /* SSH authorized_keys: macos empty; linux uses hardware pubkeys. */ -}}
{{- $profile := .profile | default "linux" -}}
{{- $isMacos := eq $profile "macos" -}}
{{- $isLinux := eq $profile "linux" -}}
{{- $needsAuthorizedKeys := or (eq .chezmoi.os "linux") $isLinux -}}

{{- if $needsAuthorizedKeys }}
# SSH Authorized Keys (Profile: {{ $profile }} | OS: {{ .chezmoi.os }})
# Trust hardware keys (main & backup)
{{- if .ssh_authkey_main_pub }}
{{ .ssh_authkey_main_pub }}
{{- else }}
# TODO: set ssh_authkey_main_pub in .chezmoi.toml (format: sk-ssh-ed25519@openssh.com AAAA... main-ssh.zopiya.com)
{{- end }}

{{- if .ssh_authkey_backup_pub }}
{{ .ssh_authkey_backup_pub }}
{{- else }}
# TODO: set ssh_authkey_backup_pub in .chezmoi.toml (format: sk-ssh-ed25519@openssh.com AAAA... back-ssh.zopiya.com)
{{- end }}
{{- else }}
# SSH Authorized Keys (Profile: {{ $profile }} | OS: {{ .chezmoi.os }})
# Empty for macOS trust anchor; enable manually if needed.
{{- end }}
