# ==============================================================================
# Git Identity
# ==============================================================================

[user]
    name = {{ .name | default "" }}
    email = {{ .email | default "" }}
    signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIKQ4Av3vfRyFgRIBw/WMEiSb1r96MumJPqH0W31m7M+J zopiya
