{{- $name := env "HOMEUP_GIT_NAME" }}
{{- $email := env "HOMEUP_GIT_EMAIL" }}
{{- $signingKey := env "HOMEUP_GIT_SIGNING_KEY" }}
{{- $signCommits := env "HOMEUP_GIT_SIGN_COMMITS" }}
{{- if or $name $email $signingKey }}
[user]
{{- if $name }}
    name = {{ $name | quote }}
{{- end }}
{{- if $email }}
    email = {{ $email | quote }}
{{- end }}
{{- if $signingKey }}
    signingkey = {{ $signingKey | quote }}
{{- end }}
{{- end }}
{{- if eq $signCommits "true" }}
[commit]
    gpgSign = true
[gpg]
    format = ssh
{{- end }}
