# ==============================================================================
# Git Identity
# ==============================================================================

[user]
    name = {{ .name | default "" }}
    email = {{ .email | default "" }}
