{{ if (get . "install_core_cli") -}}
# Core CLI Tools
brew "bat"
brew "chezmoi"
brew "curl"
brew "eza"
brew "fd"
brew "fzf"
brew "gh"
brew "git"
brew "git-delta"
brew "httpie"
brew "jq"
brew "lazygit"
brew "neovim"
brew "pnpm"
brew "ripgrep"
brew "sheldon"
brew "starship"
brew "uv"
brew "wget"
brew "yazi"
brew "yq"
brew "zoxide"
brew "zsh"
{{ end -}}

{{ if (get . "install_fonts") -}}
# Fonts
{{   if eq .chezmoi.os "darwin" -}}
cask "font-jetbrains-mono-nerd-font"
cask "font-hack-nerd-font"
cask "font-noto-sans"
cask "font-source-han-serif-vf"
{{   end -}}
{{ end -}}

{{ if (get . "install_security") -}}
# Security Tools
cask "1password-cli"
brew "age"
brew "gnupg"
brew "ykman"

{{   if eq .chezmoi.os "darwin" -}}
brew "pinentry-mac"
{{   end -}}
{{ end -}}

{{ if and (get . "install_gui") (not (get . "headless")) -}}
# GUI Applications (macOS)
{{   if eq .chezmoi.os "darwin" -}}
cask "1password"
cask "dbeaver-community"
cask "deltachat"
cask "electerm"
cask "firefox"
cask "google-chrome"
cask "iterm2"
cask "jetbrains-toolbox"
cask "keka"
cask "localsend"
cask "nextcloud"
cask "obsidian"
cask "orbstack"
cask "raycast"
cask "rectangle"
cask "stats"
cask "typora"
cask "visual-studio-code"
cask "vlc"
cask "wireshark-app"
{{   end -}}
{{ end -}}

{{ if (get . "install_mise") -}}
# Development Runtimes
brew "mise"
{{ end -}}

{{ if (get . "install_maintenance") -}}
# Maintenance Tools
brew "restic"
brew "topgrade"
{{ end -}}
